@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Wesley Gonçalves Luciano - Máscaras usando jQuery InptuMask</h3>
</div>
<hr />
<p>Telefone:       <input type="text" id="telefone"   class = "form-control"/></p>
<p>CPF:            <input type="text" id="cpf"        class = "form-control"/></p>
<p>CEP:            <input type="text" id="cep"        class = "form-control"/></p>
<p>Nascimento:     <input type="text" id="nascimento" class = "form-control"/></p>
<p>Preço (R$) :    <input type="text" id="preco"      class = "form-control" /></p>
<p>Valor (R$) :    <input type="text" id="valor"      class = "form-control"/></p>
<p>Informe o IP :  <input type="text" id="ip"         class = "form-control"/></p>

<p><input type="button" value="Enviar" class="btn btn-success" /></p>

@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, {reverse:true});
            $("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
    });
    </script>
}

